.container-main{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    width: 80%;
    margin: 0 auto; 
    padding-top: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.main-basket-promo-div{
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    color: #e31e24;
    display: flex;
    padding-left: 15px;
    outline: 1px solid #e31e24;
    border-radius: 10px;
    gap: 10px;
}

.main-basket-promo-button{
    color: #fff;
    background: #e31e24;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.main-basket-div{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.main-basket-main{
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.05), -10px -10px 10px 0 #f8f9fc;
    background: #fff;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:20px;
    padding-bottom: 15px;
}

.main-basket-h2{
    margin-left: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.main-basket-ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top:15px;
}

.main-basket-li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px;
    background: #f8f9fc;
    padding: 10px;
}

.main-basket-h2-title{
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.main-basket-h2-weight{
    font-weight: 500;
    font-size: 10px;
    color: #000;
}
.main-basket-ul-products{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 12px;
    color: #000;
}

.main-basket-price{
    display: flex;
}

.main-basket-counter-div{
    display: flex;
}

.main-basket-price-h2{
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.main-basket-counter-div{
    position: absolute;
    gap: 10px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
    margin-top: -25px;
}

.main-basket-delete{
    width: 10px;
    height: 10px;
    display: absolute;
    margin-left: 265px;
    margin-bottom: -10px;
}
.main-basket-ul{
    padding-bottom: 15px;
    border-bottom: rgba(0, 0, 0, 0.1) solid 2px;

}

.main-basket-h2-end{
    margin-top: 15px;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    display: flex;
    justify-content: space-between;
}

.main-basket-h2-end-bold{
    font-weight: 700;
    font-size: 20px;
    color: #000;
}

.main-basket-button-end{
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #fff; 
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #e31e24;
    align-items: center;
    justify-content:center ;
    display: flex;
    gap: 5px;
    padding-left: 74px;
    padding-right: 74px;
    margin-top: 15px;
}